.videolistentry {
  font-size: 16px;
  padding: 8px;
}

.videolistentrytitle {
  font-weight: bold;
}

.videolistentrytitle:hover {
  color: #e62117;
  cursor: pointer;
}

.videolistentrydetail {
  font-size: 12px;
  color: #999;
}
