.videoplayer {
  margin: 2em;
  height: auto;
  width: 80%;
  max-width: 1280px;
}

.videoplayerdetails {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}